In [1]:
import pandas as pd
#df=pd.read_csv('https://cloud.minsa.gob.pe/s/AC2adyLkHCKjmfm/download', sep=';', usecols=['FECHA_CORTE', 'EDAD', 'SEXO', 'FECHA_RESULTADO', 'METODODX', 'DEPARTAMENTO'], parse_dates=['FECHA_RESULTADO'])
df=pd.read_csv('positivos_covid.csv', sep=';', usecols=['FECHA_CORTE', 'EDAD', 'SEXO', 'FECHA_RESULTADO', 'METODODX', 'DEPARTAMENTO'], parse_dates=['FECHA_RESULTADO'])
fecha_corte=df['FECHA_CORTE'].drop_duplicates().set_axis(['fecha_corte'])
#fecha_corte.to_json("../resultados/fecha_corte_positivos.json")

In [2]:
# DIARIO AG, PCR, PR
df_positivos=df[['FECHA_RESULTADO','METODODX','SEXO']].groupby(['FECHA_RESULTADO','METODODX']).count()
df_positivos=df_positivos.reset_index()
df_positivos=df_positivos.pivot(index='FECHA_RESULTADO', columns='METODODX', values='SEXO')
df_positivos=df_positivos.rename_axis(None, axis=1)
df_positivos=df_positivos.fillna(0).astype('int')
df_positivos

                   AG   PCR   PR
FECHA_RESULTADO
2020-03-06          0     1    0
2020-03-07          0     5    0
2020-03-08          0     2    0
2020-03-09          0     3    0
2020-03-10          0     1    0
...               ...   ...  ...
2021-05-18       2887  1702  661
2021-05-19       2738  1413  545
2021-05-20       2463  1349  474
2021-05-21       2228  1199  414
2021-05-22       1093   771  175

[441 rows x 3 columns]

In [3]:
# ACUMULADO AG, PCR, PR
df_positivos_cum=df_positivos.cumsum()
df_positivos_cum

                     AG     PCR      PR
FECHA_RESULTADO
2020-03-06            0       1       0
2020-03-07            0       6       0
2020-03-08            0       8       0
2020-03-09            0      11       0
2020-03-10            0      12       0
...                 ...     ...     ...
2021-05-18       423765  570708  913930
2021-05-19       426503  572121  914475
2021-05-20       428966  573470  914949
2021-05-21       431194  574669  915363
2021-05-22       432287  575440  915538

[441 rows x 3 columns]

In [4]:
col_poblacion=[426806,
1180638,
430736,
1497438,
668213,
1453711,
1129854,
1357075,
365317,
760267,
975182,
1361467,
2016771,
1310785,
10628470,
1027559,
173811,
192740,
271904,
2047954,
1237997,
899648,
370974,
251521,
589110]

In [5]:
# ACUMULADO POR DEPARTAMENTO
df_positivos_departamento=df[['DEPARTAMENTO','METODODX']]
def function(valueX):
  if 'LIMA REGION' in valueX:
    return 'LIMA'
  else:
    return valueX
df_positivos_departamento['DEPARTAMENTO']=df_positivos_departamento['DEPARTAMENTO'].map(function)
df_positivos_departamento=df_positivos_departamento.groupby(['DEPARTAMENTO']).count()
df_positivos_departamento['POBLACION']=col_poblacion
df_positivos_departamento['INDICE']=round(df_positivos_departamento['METODODX']/(df_positivos_departamento['POBLACION']/1000)).astype('int')
df_positivos_departamento

<ipython-input-5-248963d62d35>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_positivos_departamento['DEPARTAMENTO']=df_positivos_departamento['DEPARTAMENTO'].map(function)

               METODODX  POBLACION  INDICE
DEPARTAMENTO
AMAZONAS          28174     426806      66
ANCASH            68378    1180638      58
APURIMAC          22469     430736      52
AREQUIPA          80787    1497438      54
AYACUCHO          28392     668213      42
CAJAMARCA         57238    1453711      39
CALLAO            94469    1129854      84
CUSCO             60988    1357075      45
HUANCAVELICA      14407     365317      39
HUANUCO           31676     760267      42
ICA               51670     975182      53
JUNIN             70243    1361467      52
LA LIBERTAD       75402    2016771      37
LAMBAYEQUE        54593    1310785      42
LIMA             871728   10628470      82
LORETO            39648    1027559      39
MADRE DE DIOS     13048     173811      75
MOQUEGUA          24303     192740     126
PASCO             13942     271904      51
PIURA             76508    2047954      37
PUNO              31692    1237997      26
SAN MARTIN        43312     899648      48
TACNA             24854     370974      67
TUMBES            16304     251521      65
UCAYALI           31064     589110      53

In [6]:
# ACUMULADO POR GRUPO ETARIO
bins = [18,20,30,40,50,60,70,80,df['EDAD'].max()+1]
labels = ['18 a 19 años','20 a 29 años','30 a 39 años','40 a 49 años','50 a 59 años','60 a 69 años','70 a 79 años','80 años a más']
poblacion_por_grupo_etario = [900000,5700000,5300000,4400000,3300000,2300000,1300000,700000] 
df_positivos_edades = df
df_positivos_edades['GRUPO_ETARIO'] = pd.cut(df['EDAD'], bins=bins, labels=labels, right=False)
df_positivos_edades = df_positivos_edades.groupby(['GRUPO_ETARIO'])["METODODX"].count().reset_index()
df_positivos_edades.rename(columns = {'METODODX':'POSITIVOS'}, inplace = True)
df_positivos_edades['POBLACION']=poblacion_por_grupo_etario
df_positivos_edades['PORCENTAJE']=round(df_positivos_edades['POSITIVOS']/df_positivos_edades['POBLACION']*100,2)
df_positivos_edades=df_positivos_edades.set_index('GRUPO_ETARIO')
df_positivos_edades

               POSITIVOS  POBLACION  PORCENTAJE
GRUPO_ETARIO
18 a 19 años       34642     900000        3.85
20 a 29 años      348473    5700000        6.11
30 a 39 años      427067    5300000        8.06
40 a 49 años      366094    4400000        8.32
50 a 59 años      294182    3300000        8.91
60 a 69 años      192063    2300000        8.35
70 a 79 años      100489    1300000        7.73
80 años a más      49665     700000        7.10

In [7]:
#TOTAL POSITIVOS
#positivos = pd.Series([df['FECHA_CORTE'].unique()[0], df[['FECHA_CORTE'][0]].count(), df_positivos.tail(1).sum(axis=1)[0]], index=['fecha_corte', 'total_positivos', 'incremento_positivos'])
#positivos.to_json('../resultados/positivos.json')

In [10]:
from requests_html import HTMLSession
session = HTMLSession()
r = session.get('https://www.gob.pe/coronavirus#casos')
scrap_covid_acumulado = r.html.find('.text-base.w-full.tracking-tight')
scrap_covid_diario = r.html.find('.font-bold.text-2xl')
scrap_covid = scrap_covid_acumulado + scrap_covid_diario
d = []
for number in scrap_covid:
    d.append(number.text)
covid = pd.Series(d,index=['total_confirmados', 'total_altas','total_fallecidos','ayer_confirmados','ayer_altas','ayer_fallecidos'])
#covid.to_json('../resultados/covid.json')
covid

total_confirmados    2052065
total_altas            77015
total_fallecidos      192331
ayer_confirmados        1514
ayer_altas               326
ayer_fallecidos           89
dtype: object

In [4]:
# DIARIO AG, PCR, PR: TACNA
df_tacna=df[df['DEPARTAMENTO'] == 'TACNA']
df_positivos_tacna=df_tacna[['FECHA_RESULTADO','METODODX','SEXO']].groupby(['FECHA_RESULTADO','METODODX']).count()
df_positivos_tacna=df_positivos_tacna.reset_index()
df_positivos_tacna=df_positivos_tacna.pivot(index='FECHA_RESULTADO', columns='METODODX', values='SEXO')
df_positivos_tacna=df_positivos_tacna.rename_axis(None, axis=1)
df_positivos_tacna=df_positivos_tacna.fillna(0).astype('int')
df_positivos_tacna

                 AG  PCR  PR
FECHA_RESULTADO
2020-03-28        0    1   0
2020-03-31        0    1   0
2020-04-04        0    6   0
2020-04-07        0    0   1
2020-04-14        0    0   3
...              ..  ...  ..
2021-05-18       55   17  10
2021-05-19       61   14  11
2021-05-20       59   13   9
2021-05-21       56   19   4
2021-05-22       36    0   4

[403 rows x 3 columns]